<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Box Plots**

Estimated time needed: **45** minutes

In this lab, you will focus on the visualization of data. The dataset will be provided through an RDBMS, and you will need to use SQL queries to extract the required data.

## Objectives

In this lab you will perform the following:

-   Visualize the distribution of data.

-   Visualize the relationship between two features.

-   Visualize data composition and comparisons using box plots.

### Setup: Connecting to the Database

#### 1. Download the Database File

In [1]:
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/QR9YeprUYhOoLafzlLspAw/survey-results-public.sqlite

--2025-05-21 17:11:01--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/QR9YeprUYhOoLafzlLspAw/survey-results-public.sqlite
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 169.63.118.104
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.63.118.104|:443... connected.
200 OKequest sent, awaiting response...
Length: 211415040 (202M) [application/octet-stream]
Saving to: ‘survey-results-public.sqlite.1’

survey-results-publ 100%[===================>] 201.62M  39.5MB/s    in 5.0s

2025-05-21 17:11:08 (40.5 MB/s) - ‘survey-results-public.sqlite.1’ saved [211415040/211415040]

#### 2. Connect to the Database

**Install the needed libraries**

In [2]:
!pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in /opt/conda/lib/python3.12/site-packages (from pandas) (2.2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [3]:
!pip install matplotlib

Requirement already satisfied: matplotlib in /opt/conda/lib/python3.12/site-packages (3.10.3)
Requirement already satisfied: contourpy>=1.0.1 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (1.3.2)
Requirement already satisfied: cycler>=0.10 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (4.58.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: numpy>=1.23 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (2.2.6)
Requirement already satisfied: packaging>=20.0 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (11.2.1)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (3.2.3)
Requirement already satisfied: python-dateutil>=2.7 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.12/site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)

In [4]:
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt

# Connect to the SQLite database
conn = sqlite3.connect('survey-results-public.sqlite')

## Demo: Basic SQL Queries

#### Demo 1: Count the Number of Rows in the Table

In [5]:
QUERY = "SELECT COUNT(*) FROM main"
df = pd.read_sql_query(QUERY, conn)
print(df)

DatabaseError: Execution failed on sql 'SELECT COUNT(*) FROM main': no such table: main

#### Demo 2: List All Tables

In [ ]:
QUERY = """
SELECT name as Table_Name 
FROM sqlite_master 
WHERE type = 'table'
"""
pd.read_sql_query(QUERY, conn)

#### Demo 3: Group Data by Age

In [6]:
QUERY = """
SELECT Age, COUNT(*) as count 
FROM main 
GROUP BY Age 
ORDER BY Age
"""
df_age = pd.read_sql_query(QUERY, conn)
print(df_age)

DatabaseError: Execution failed on sql '
SELECT Age, COUNT(*) as count
FROM main
GROUP BY Age
ORDER BY Age
': no such table: main

## Visualizing Data

### Task 1: Visualizing the Distribution of Data

**1. Box Plot of `CompTotal` (Total Compensation)**

Use a box plot to analyze the distribution and outliers in total compensation.

In [ ]:
!pip install seaborn
import seaborn as sns

In [ ]:
# Query the data from the database
QUERY = """
SELECT 
    CASE 
         WHEN CompTotal < 20000 THEN '0-20k'
         WHEN CompTotal >= 20000 AND CompTotal < 40000 THEN '20k-40k'
         WHEN CompTotal >= 40000 AND CompTotal < 60000 THEN '40k-60k'
         WHEN CompTotal >= 60000 AND CompTotal < 80000 THEN '60k-80k'
         WHEN CompTotal >= 80000 AND CompTotal < 100000 THEN '80k-100K'
         WHEN CompTotal >= 100000 AND CompTotal < 200000 THEN '100k-200k'
         WHEN CompTotal >= 200000 AND CompTotal < 500000 THEN '200k-500k'
         WHEN CompTotal >= 500000 AND CompTotal < 1000000 THEN '500k-1M'
         ELSE '1M+'
    END AS CompTotalRange,
    COUNT(*) AS Frequency
FROM main
WHERE CompTotal IS NOT NULL
GROUP BY CompTotalRange;
"""
df_Comptotal = pd.read_sql_query(QUERY, conn)

# Close the database connection
conn.close()

# Display descriptive statistics
print(df_Comptotal['CompTotal'].describe())

# Create a box plot
df_Comptotal['CompTotal'].plot(kind='box', figsize=(10, 7))

plt.title("Box Plot of Respondent's Compensation")
plt.ylabel('Total Compensation')

plt.show()

In [ ]:
# your code goes here
# Connect to the SQLite database
conn = sqlite3.connect('survey-results-public.sqlite')

# Query the data from the database
query = "SELECT CompTotal FROM main"  
df = pd.read_sql_query(query, conn)

# Close the database connection
conn.close()

# Create a box plot
sns.boxplot(x=df['CompTotal'])

plt.title('Box Plot of Total Compensation')
plt.xlabel('Total Compensation')
plt.show()

**2. Box Plot of Age (converted to numeric values)**

Convert the `Age` column into numerical values and visualize the distribution.

In [ ]:
# your code goes here

### Task 2: Visualizing Relationships in Data

**1. Box Plot of `CompTotal` Grouped by Age Groups:**

Visualize the distribution of compensation across different age groups.

In [ ]:
# your code goes here

**2. Box Plot of `CompTotal` Grouped by Job Satisfaction (`JobSatPoints_6`):**

Examine how compensation varies based on job satisfaction levels.

In [ ]:
# your code goes here

### Task 3: Visualizing the Composition of Data

**1. Box Plot of `ConvertedCompYearly` for the Top 5 Developer Types:**

Analyze compensation across the top 5 developer roles.

In [ ]:
# your code goes here

**2. Box Plot of `CompTotal` for the Top 5 Countries:**

Analyze compensation across respondents from the top 5 countries.

In [ ]:
# your code goes here

### Task 4: Visualizing Comparison of Data

**1. Box Plot of CompTotal Across Employment Types:**

Analyze compensation for different employment types.

In [ ]:
# your code goes here

**2. Box Plot of `YearsCodePro` by Job Satisfaction (`JobSatPoints_6`):**

Examine the distribution of professional coding years by job satisfaction levels.

In [ ]:
# your code goes here

### Final Step: Close the Database Connection

After completing the lab, close the connection to the SQLite database:

In [ ]:
conn.close()

## Summary

In this lab, you used box plots to visualize various aspects of the dataset, focusing on:

- Visualize distributions of compensation and age.

- Explore relationships between compensation, job satisfaction, and professional coding experience.

- Analyze data composition across developer roles and countries.

- Compare compensation across employment types and satisfaction levels.

Box plots provided clear insights into the spread, outliers, and central tendencies of various features in the dataset.

## Authors:
Ayushi Jain

### Other Contributors:
- Rav Ahuja
- Lakshmi Holla
- Malika

<!--## Change Log
|Date (YYYY-MM-DD)|Version|Changed By|Change Description|
|-|-|-|-|               
|2024-10-07|1.2|Madhusudan Moole|Reviewed and updated lab|                                                                                      
|2024-10-06|1.0|Raghul Ramesh|Created lab|-->

Copyright © IBM Corporation. All rights reserved.